@model LoginFormModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Anasayfa</a>
                    <span>Giriş Yap</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container p-5">
    <div class="card  m-3 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="contact__form">
            <h5 class="text-center">GİRİŞ YAP</h5>
            <div class="container mb-3">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <form method="post">
                            <span class="text-danger" asp-validation-for="UserName"></span>
                            <input type="text" placeholder="Kullanıcı Adı veya Mail Adresiniz" asp-for="UserName" required>
                            <span class="text-danger" asp-validation-for="Password"></span>
                            <input type="password" placeholder="Şifreniz" asp-for="Password" required>
                            @*   <textarea placeholder="Message"></textarea> *@
                            <button type="submit" class="site-btn">Giriş Yap</button>
                            <div class="mt-2">
                                <p>Bir hesabınız yok mu ? <a href="/Register/Index/">Kayıt Ol.</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

