@model FileUplaoadModel

@{
    var link = $"/{Model.area}/{Model.controller}/{Model.action}";

    // Eğer querystring boş değilse, onu ekle

    if (!string.IsNullOrEmpty(Model.querystring))
    {
        link += $"?id={Model.querystring}";
    }
    ///Admin/Default/UploadFiles
}
<!-- Dosya isimlerini göstereceğimiz alan -->


<button data-bs-toggle="modal" data-bs-target="#imageModal" class="btn"><img src="~/assets/imageicon.png" style="height:25px;width:25px;" /></button>


<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imageModalLabel">Dosya Yükleme</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">Yüklemek İstediğiniz Dosyayı Seçiniz...</div>
                <div class="alert alert-success">Ürün Id = @Model.querystring</div>
                <form id="fileUploadForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        @*  <label for="formFileMultiple" class="form-label">Seçiniz...</label> *@
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div>

                </form>
                <ul id="fileList"></ul>
                <div class="container">

                    <div class="row">
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-1">
                            <div class="card" >
                                <img class="card-img-top" src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <a href="#" class="btn btn-primary">Sil</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dismissbtn" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button id="sendbutton" type="button" disabled class="btn btn-info">Dosyaları Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>
    const input = document.getElementById("formFileMultiple");
    const fileList = document.getElementById("fileList");
    const sendButton = document.getElementById("sendbutton");
    const dismissButton = document.getElementById("dismissbtn");

    //üstte oluşturduğum linki razordan javascripte çeviriyorum
    const link = "@link"

    // Sayfa yüklendiğinde buton devre dışı bırakılıyor
    document.addEventListener("DOMContentLoaded", function () {
        sendButton.disabled = true;
    });

    // Dosyalar değiştiğinde gerçekleşecek olay
    input.addEventListener("change", function () {
        // Listeyi temizle
        fileList.innerHTML = "";

        // Dosya seçili mi kontrol et
        if (input.files.length > 0) {
            // Seçilen dosyaları döngü ile al
            for (let i = 0; i < input.files.length; i++) {
                const li = document.createElement("li");
                li.textContent = input.files[i].name;
                fileList.appendChild(li);
            }

            // Dosya varsa butonu etkinleştir
            sendButton.disabled = false;
        } else {
            // Dosya yoksa butonu devre dışı bırak
            sendButton.disabled = true;
        }
    });

    // Butona tıklandığında dosyaları gönder
    sendButton.addEventListener("click", function () {
        var formData = new FormData();

        // Seçilen dosyaları formData'ya ekle
        for (let i = 0; i < input.files.length; i++) {
            formData.append("files", input.files[i]);
        }

        fetch(`${link}`, {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if (response.ok) {
                    alert("İşlem Başarılı !");
                    // Başarıyla yüklendiğinde yönlendir
                    window.location.href = '/Admin/Default/Index'; // Yönlendirme yapılacak URL
                } else {
                    return response.json().then(errorData => {
                        // Hata varsa kullanıcıya bildirin
                        alert("Error: " + "Bir hata oluştu !");
                    });
                }
            })
            .catch(error => {
                // Ağ hatası durumunda kullanıcıya bildirin
                alert("An error occurred: " + "Bağlantı Hatası !");
            });
    });

    // Vazgeç butonuna tıklayınca listeyi sıfırla
    dismissButton.addEventListener("click", function () {
        fileList.innerHTML = "";
        input.value = "";
        sendButton.disabled = true;
    });

</script>
